<h1>大爷，您好！</h1>
<!-- <div class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/kitchen_adventurer_caramel.jpg" />
    </li>
    <li>
      <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
    </li>
    <li>
      <img src="images/kitchen_adventurer_donut.jpg" />
    </li>
  </ul>
</div>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script> -->
<section class="slider">
  <div id="slider" class="flexslider">
    <ul class="slides">
      <li>
        <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_lemon.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_donut.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_caramel.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_lemon.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_donut.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_caramel.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_lemon.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_donut.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_caramel.jpg" />
      </li>
    </ul>
  </div>
  <div id="carousel" class="flexslider">
    <ul class="slides">
      <li>
        <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_lemon.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_donut.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_caramel.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_lemon.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_donut.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_caramel.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_lemon.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_donut.jpg" />
      </li>
      <li>
        <img src="images/kitchen_adventurer_caramel.jpg" />
      </li>
    </ul>
  </div>
</section>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
<!-- <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script> -->
<script type="text/javascript">
  $(function(){
    SyntaxHighlighter.all();
  });
  $(window).load(function(){
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 210,
      itemMargin: 5,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>
